* {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 46px;
  box-sizing: border-box;
}

.container {
  max-width: 890px;
  margin: 0 auto;
}

.links {
  display: inline-block;
  a {
    width: 93px;
    height: 46px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka,
      'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #66757f;
    line-height: 4;
  }
  a.active {
    border-bottom: 2px solid #0084b4;
  }
}

.search-input {
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #14171a;
  display: inline-block;
  font-size: 12px;
  height: 33px;
  line-height: 16px;
  margin: 7px 15px 0 0;
  padding: 8px 32px 8px 12px;
  transition: all 0.2s ease-in-out;
  width: 221px;
  &:focus {
    border: 2px solid #0084b4;
    background-color: #fff;
    box-shadow: none;
    color: #14171a;
    opacity: 1;
  }
}
